<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home</title>
<style type="text/css">
/* gridtable */
table.gridtable {
	font-family: verdana, arial, sans-serif;
	font-size: 11px;
	color: #333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}

table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}

table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}
</style>
<script language="javascript" type="text/javascript"
	src="My97DatePicker/WdatePicker.js"></script>
<script>
	function download() {
		document.getElementById("da").value = document.getElementById("dd").value
		document.getElementById('downloadForm').submit();
	}
</script>
</head>
<body>
	<div style="height: 100px; background-color: #001529;">
		<div style="color: white;">
			<b
				style="position: absolute; color: white; font-size: 30px; left: 57px; top: 40px;">拉加代尔数据系统后台</b>
			<b style="position: absolute; right: 40px; top: 40px;"> 你好，欢迎使用<br>
			<a href="toLogin" style="color: red; margin-left: 85px;">退出<a></b>
		</div>
	</div>
	<br>
	<div style="margin-left: 40px;">
		<form action="showdata" method="get">
			选择日期：<input name="datetime" id="dd" class="Wdate" type="text"
				style="width: 200px;"
				onfocus="WdatePicker({dateFmt:'yyyy年MM月',readOnly:true})"
				th:attr="value=${datetime}" />&nbsp; <input type="submit"
				style="width: 200px; height: 30px; background-color: #1296DB; border: none;"
				value="查询"> &nbsp;&nbsp;<a th:if="${datas.size()} > 0"
				href="javascript:download()">下载Excel表格</a> <br> <br>
		</form>
		<form action="download" target="_blank" id="downloadForm"
			method="post">
			<input name="datetime" id="da" type="hidden">
		</form>
		<h5 th:if="${datas.size()} <= 0">未上传数据</h5>
		<table class="gridtable">
			<tr th:each="th:${ths}">
				<th th:each="tt:${th}">
					<div style="width: 70px;" th:text="${tt}"></div>
				</th>
			</tr>
			<tr th:each="tds :${datas}" align="center">
				<td th:each="td : ${tds}" th:utext="${td}"></td>
			</tr>
		</table>
	</div>
</body>
</html>