<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home</title>
<script language="javascript" type="text/javascript"
	src="My97DatePicker/WdatePicker.js"></script>
</head>
<body>
	<div style="height: 100px; background-color: black;">
		<div style="color: white;">
			<b style="color: white; font-size: 30px; margin-left: 40px">拉加代尔数据系统后台</b>
			<div style="margin-left: 90%">
				小史你好，欢迎使用</br>
				<a href="index" style="color: red;">退出<a>
			</div>
		</div>
	</div>
	<form action="uploadData" method="post" enctype="multipart/form-data">
		<div align="center" style="margin-top: 200px;">
			选择日期：<input id="d1212" name="datetime" class="Wdate" type="text"
				style="width: 200px;"
				onfocus="WdatePicker({dateFmt:'yyyy年MM月',readOnly:true})" /><br>
			<br> 选择文件：<input type="file" name="file" /><br>
			<br> <input type="submit" style="width: 200px; height: 30px"
				value="上传"></br>
		</div>
	</form>
</body>
<script th:inline="javascript">  
	var error = /*[[${error}]]*/
	if(error){
		alert("上传失败:" + error);
	}
</script>
</html>