<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home</title>
<script language="javascript" type="text/javascript"
	src="My97DatePicker/WdatePicker.js"></script>
</head>
<body>
	<div style="height: 100px; background-color: #001529;">
		<div style="height: 100px; background-color: #001529;">
		<div style="color: white;">
			<b
				style="position: absolute; color: white; font-size: 30px; left: 57px; top: 40px;">拉加代尔数据系统后台</b>
			<b style="position: absolute; right: 40px; top: 40px;"> 你好，欢迎使用<br><a href="index" style="color: red;margin-left: 85px;">退出<a></b>
		</div>
	</div>
	</div>
	<form action="uploadData" method="post" enctype="multipart/form-data">
		<div align="center" style="margin-top: 200px;">
			<table cellspacing="20">
				<tr>
					<td>选择日期：<input id="d1212" name="datetime" class="Wdate"
						type="text" style="width: 200px;"
						onfocus="WdatePicker({dateFmt:'yyyy年MM月',readOnly:true})" /></td>
				</tr>
				<tr>
					<td>选择文件：<input type="file" name="file" />
					</td>
				</tr>
				<tr align="center">
					<td><input type="submit"
						style="width: 200px; height: 30px; background-color: #1296DB;border:none;"
						value="上传"></td>
				</tr>
			</table>
		</div>
	</form>
</body>
<script th:inline="javascript">  
	var error = /*[[${error}]]*/
	if(error){
		alert("上传失败:" + error);
	}
</script>
</html>